* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 50px;
    /* background-image: url(../photos/black&whiteEarrings/half.JPG); */
    /* background-size: cover; */
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
    border-top: 40px solid #ffd1f9;
}

/* navbar */
nav {
    height: 10vh;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0px;
}

/* section 1 */
#s1 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 70vh;
    top: 15%;
    margin: 0;
    text-align: center;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
    /* background-image: url(../photos/black&whiteEarrings/half.JPG);
    background-size: cover;
    animation: slide 10s infinite;
    z-index: -1; */
    /* overflow: hidden; */
}

#s1 h3 {
    position: absolute;
    top: 5%;
    right: 7%;
}

#s1 h1 {
    position: absolute;
    z-index: 999;
    min-width: 100%;
    max-height: 100%;
    top: 45%;
    font-size: 70px;
}

#slider {
    position: absolute;
    height: 60vh;
    margin: 60px;
    top: -1%;
    left: 0;
    right: 0;
    /* padding: 50px; */
    background-image: url(../photos/greenEarrings/IMG_1134.JPG);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    z-index: -1;
    animation: slide 20s 4s infinite;
}

/* #s1 img {
    min-width: 100%;
    max-height: 100%;
    padding: 50px;
    object-fit: cover;
    z-index: -1;
    animation: slide 10s infinite;
} */

@keyframes slide {
    25%  {background-image: url(../photos/black&whiteEarrings/half.JPG);}
    50%  {background-image: url(../photos/pinkEarrings/IMG_1132.JPG);}
    75%  {background-image: url(../photos/yellowEarrings/IMG_1139.JPG);}
    100%  {background-image: url(../photos/black&whiteEarrings/spotted.JPG);}
}

#email {
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bolder;
}

#email:hover{
    cursor: pointer;
}

/* section 2 */
#s2 {
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    right: 0;
    height: 60vh;
    text-align: center;
    padding: 150px;
    padding: 12%;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
}

#about {
    padding: 60px;

}

#s2 h1 {
    text-decoration: none !important;
    color: black;
}

#s2 p {
    font-size: 20px;
}

/* section 3 */
#s3 {
    position: absolute;
    top: 140%;
    width: 100%;
    left: 0;
    right: 0;
    padding: 80px;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
    border-bottom: 40px solid #ffd1f9;
}

#s3 img {
    height: 60vh;
    padding: 40px;
    opacity: 1;
}

#s3 img:hover {
    opacity: 0.7;
    cursor: pointer;
}