* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 209, 249);
    background-color: #ffd1f9;
    /* background-color: #f6acc8; */
    /* background-color: #ffd1f8; */
    background-color: white;
    padding: 50px;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
    border-top: 40px solid #ffd1f9;
}

/* navbar */
nav {
    height: 10vh;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0px;
}

/* section 1 */
#s1 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 70vh;
    top: 15%;
    text-align: center;
    z-index: -1;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
}

#s1 h3 {
    position: absolute;
    top: 5%;
    right: 7%;
}

#s1 h1 {
    position: absolute;
    z-index: 999;
    min-width: 100%;
    max-height: 100%;
    top: 44.5%;
    font-size: 70px;
}

#s1 img {
    min-width: 100%;
    max-height: 100%;
    padding: 50px;
    object-fit: cover;
    z-index: -1;
}

#email {
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bolder;
}

#email:hover{
    cursor: pointer;
}

/* section 2 */
#s2 {
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    right: 0;
    height: 60vh;
    text-align: center;
    padding: 150px;
    padding: 12%;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
}

#about {
    padding: 60px;

}

#s2 h1 {
    text-decoration: none !important;
    color: black;
}

#s2 p {
    font-size: 20px;
}

/* section 3 */
#s3 {
    position: absolute;
    top: 140%;
    width: 100%;
    left: 0;
    right: 0;
    padding: 100px;
    border-left: 40px solid #ffd1f9;
    border-right: 40px solid #ffd1f9;
    border-bottom: 40px solid #ffd1f9;
}

#s3 img {
    height: 60vh;
    padding: 40px;
}

#s3 img:hover {
    opacity: 0.5;
    cursor: pointer;
}